// Slide Fade
.slide-fade-enter {
  transform: translateY(50px);
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-fade-leave-active {
  transition: all 0.3s ease;
  display: block;
  overflow: hidden;
}
.slide-fade-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}

// Slide in out
.slide-in-out-enter,
.slide-in-out-enter * {
  transform: translateX(-500px);
}

.slide-in-out-enter-active,
.slide-in-out-enter-active * {
  transition: all 0.3s;
}

.slide-in-out-leave-active,
.slide-in-out-leave-active * {
  transition: all 0.3s;
  transform: translateX(-500px);
}
